<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="ko">

<head>
    <title>DS StackOverFlow Post Detail test</title>
    <link rel="stylesheet" href="{% static 'post/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">

    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>

            <!-- Post update icon -->
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="{% url 'post:update_post' pk=object.pk %}" role="button">Edit Post</a>
            {% endif %}

            <!-- Post delete icon -->
            {% if user.is_authenticated and user == post.author %}
                <a id="deleteBtn" class="btn btn-info btn-sm float-end" role="button">DELETE Post</a>

                <script>
                    document.getElementById('deleteBtn').addEventListener('click', function() {
                      if (confirm("질문을 삭제하시겠습니까?")) {
                        window.location.href = "{% url 'post:delete_post' pk=object.pk %}";
                      }
                    });
                </script>
            {% endif %}

            <!-- Post major-->
            {% if post.major %}
                <span class="badge bg-secondary">{{ post.major }}</span>
            {% else %}
                <span class="badge bg-secondary">미분류</span>
            {% endif %}
        </header>
        <!-- Preview image figure-->
        {% if post.head_image %}
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." /></figure>
        {% else %}
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            <p> {{ post.content | linebreaks }}</p>

            <!-- if문 입력 -->
            {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                    Download
                </a>
            {% endif %}

            {% if user.is_authenticated %}
            <form method="post" action="{% url 'post:upvote_post' slug=object.major.slug pk=object.pk %}">
              {% csrf_token %}
              <button type="submit" name="vote_type" value="1">Upvote</button>
            </form>

            <p>Vote Count: {{ vote }}</p>

            <form method="post" action="{% url 'post:downvote_post' slug=object.major.slug pk=object.pk %}">
              {% csrf_token %}
              <button type="submit" name="vote_type" value="-1">Downvote</button>
            </form>
            {% else %}
                <p>Login to vote</p>
            {% endif %}

            <hr>

        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">

                <!-- Comment form-->
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit </button>
                {% else %}
                    <a role="button" class="btn btn-sm" href="#" data-toggle="modal" data-target="#loginModal">로그인하고 댓글을 남겨주세요</a>
                {% endif %}
                </form>

                <!-- Single comment-->
                {% if post.comment_set.exists %}
                    {% for comment in post.comment_set.iterator %}

                    <div class="d-flex" id="comment={{comment.pk}}">
<!--                        <div class="flex-shrink-0">
                                <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                              </div>-->
<!--                        {% if user.username == major %}-->
<!--                            &lt;!&ndash; 교수님의 경우 프로필 표시 &ndash;&gt;-->
<!--                            <img src="{% static 'single_pages/images/duksung_symbol.png' %}" alt="Duksung Symbol" />-->
<!--                        {% endif %}-->

                        {% if comment.author.profile.is_who %}
                        <div class="flex-shrink-0" >
                            <img src="{% static 'single_pages/images/pro.png' %}" alt="Profile Picture" class="rounded-circle" width="50" />
                        </div>
                        {% else %}
                            <!-- 기본 이미지 -->
                        <div class="flex-shrink-0">
                            <img src="{% static 'single_pages/images/duksung_symbol.png' %}" alt="Duksung Symbol" class="rounded-circle" style="margin-left:5px"  width="40" />
                        </div>
                        {% endif %}
                        <div class="ms-3">

                            <!-- Comment update icon -->
                            {% if user.is_authenticated and comment.author == user %}
                                <a role="button" class="btn btn-sm btn-info float-end" id="comment-{{comment.pk}}-update-btn" onclick="toggleEditForm({{ comment.pk }})">EDIT</a>
                            {% endif %}

                            <!-- Comment delete icon -->
                            {% if user.is_authenticated and comment.author == user %}
                                <a id="comment-{{comment.pk}}-delete-btn" class="btn btn-sm btn-info float-end" role="button">DELETE</a>

                                <script>
                                    document.getElementById('comment-{{comment.pk}}-delete-btn').addEventListener('click', function() {
                                      if (confirm("댓글을 삭제하시겠습니까?")) {
                                        window.location.href = "{% url 'post:delete_comment' pk=comment.pk %}";
                                      }
                                    });
                                </script>
                            {% endif %}

                            <div class="fw-bold">

                                {% if comment.author.profile.is_who %}
                                    {{comment.author}}
                                {% else %}
                                    익명덕우
                                {% endif %}
                                ----
                                {{ comment.created_at }}

                            </div>
                            <div id="comment-content-{{ comment.pk }}">{{ comment.content | linebreaks }}</div>
                            <!-- 수정 폼이 표시될 영역 -->
                                <div id="comment-edit-form-{{ comment.pk }}" style="display: none;"></div>
                            {% if comment.created_at != comment.modified_at %}
                                <p class="text-muted"><small> Updated : {{ comment.modified_at }}</small></p>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                    <script>
                        function toggleEditForm(commentId) {
                            // Toggle the visibility of the edit form
                            $(`#comment-edit-form-${commentId}`).toggle();
                            $(`#comment-content-${commentId}`).toggle();

                            // Load the edit form content if it's not loaded yet
                            if ($(`#comment-edit-form-${commentId}`).is(':visible') && !$(`#comment-edit-form-${commentId}`).html().trim()) {
                                loadEditForm(commentId);
                            }
                        }

                        function loadEditForm(commentId) {
                            $.ajax({
                                url: `/post/update_comment/${commentId}`,
                                type: 'GET',
                                success: function (response) {
                                    $(`#comment-edit-form-${commentId}`).html(response);
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        }
                    </script>
                {% endif %}

            </div>
        </div>
    </section>

</div>
</div>
</div>


<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--        crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
