<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="ko">

<head>
    <title>DS StackOverFlow Post Detail test</title>
    <link rel="stylesheet" href="{% static 'post/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">

    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>

            <!-- Post update icon -->
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="{% url 'post:update_post' pk=object.pk %}" role="button">Edit Post</a>
            {% endif %}

            <!-- Post delete icon -->
            {% if user.is_authenticated and user == post.author %}
                <a id="deleteBtn" class="btn btn-info btn-sm float-end" role="button">DELETE Post</a>
            {% endif %}

            <script>
            document.getElementById('deleteBtn').addEventListener('click', function() {
              if (confirm("질문을 삭제하시겠습니까?")) {
                window.location.href = "{% url 'post:delete_post' pk=object.pk %}";
              }
            });
          </script>

            <!-- Post major-->
            {% if post.major %}
                <span class="badge bg-secondary">{{ post.major }}</span>
            {% else %}
                <span class="badge bg-secondary">미분류</span>
            {% endif %}
        </header>
        <!-- Preview image figure-->
        {% if post.head_image %}
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." /></figure>
        {% else %}
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            <p> {{ post.content }}</p>

            <!-- if문 입력 -->
            {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                    Download
                </a>
            {% endif %}

            {% if user.is_authenticated %}
            <form method="post" action="{% url 'post:upvote_post' slug=object.major.slug pk=object.pk %}">
              {% csrf_token %}
              <button type="submit" name="vote_type" value="1">Upvote</button>
            </form>

            <p>Vote Count: {{ vote }}</p>

            <form method="post" action="{% url 'post:downvote_post' slug=object.major.slug pk=object.pk %}">
              {% csrf_token %}
              <button type="submit" name="vote_type" value="-1">Downvote</button>
            </form>
            {% else %}
                <p>Login to vote</p>
            {% endif %}

            <hr>

        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit </button>
                {% else %}
                    <a role="button" class="btn btn-sm" href="#" data-toggle="modal" data-target="#loginModal">로그인하고 댓글을 남겨주세요</a>
                {% endif %}
                </form>

                <!-- Single comment-->
                {% if post.comment_set.exists %}
                    {% for comment in post.comment_set.iterator %}

                    <div class="d-flex" id="comment={{comment.pk}}">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">{{comment.author}} & {{ comment.created_at }}</div>
                            {{ comment.content | linebreaks }}
                            {% if comment.created_at != comment.modified_at %}
                                <p class="text-muted"><small> Updated : {{ comment.modified_at }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>

</div>
</div>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>
