{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>웹페이지 예시</title>
        <link
            rel="stylesheet"
            href="{% static 'single_pages/index/style.css' %}"
        />
    </head>
    <body>
        <header id="header">
            <!-- 헤더 -->
            <div id="logo-container">
                <img
                    src="{% static 'single_pages/images/duksung_symbol.png' %}"
                    alt="로고"
                />
            </div>
            <div id="header-title">DS StackOverFlow</div>
            <div id="auth-links">
                <a href="{% url 'login' %}" id="login-link" class="auth-link"
                    >Log in</a
                >

                <a
                    href="{% url 'signup' %}"
                    id="register-link"
                    class="auth-link"
                    >Sign Up</a
                >
            </div>
        </header>
        <div id="content-area">
            <nav id="navbar">
                <!-- 네비게이션 바 -->
                <a href="#" class="nav-link">Home</a>
                <a href="#" class="nav-link">질문 탭</a>
                <a href="/DS_StackOverFlow/Front/MyPage.html" class="nav-link"
                    >My Page</a
                >
            </nav>
            <main id="main-content">
                <!-- 메인 컨텐츠 -->
                <h1>메인 컨텐츠 제목</h1>
                <p>여기에 메인 컨텐츠의 본문이 들어갑니다.</p>
            </main>
            <aside id="sidebar">
                <!-- 사이드바 -->
                <a href="#" class="sidebar-link">사이드바 링크 1</a>
                <a href="#" class="sidebar-link">사이드바 링크 2</a>
            </aside>
        </div>
        <footer id="footer">
            <!-- 푸터 -->
        </footer>
    </body>
</html>
