<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Login 08</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="{% static 'single_pages/login/css/style.css' %}"
        />
    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    {% comment %}
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Login</h2>
                    </div>
                    {% endcomment %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div
                            class="icon d-flex align-items-center justify-content-center"
                            style="background-color: f8f9fa"
                        >
                            <img
                                src="{% static 'single_pages/images/duksung_symbol.png' %}"
                                alt="Duksung Symbol"
                                style="width: 100px; height: auto"
                            />
                        </div>
                        <h3
                            class="text-center mb-4"
                            style="color: rgb(183, 0, 80); font-weight: 700"
                        >
                            Have an account?
                        </h3>


                        <form action="{% url 'single_pages:login' %}" method="POST" class="login-form">
                            {% csrf_token %}
                            {% for m in messages %}
                                {{ m }}
                            {% endfor %}
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control rounded-left"
                                    placeholder="Username"
                                    id="username"
                                    name="username"
                                    required
                                />
                            </div>
                            <div class="form-group d-flex">
                                <input
                                    type="password"
                                    class="form-control rounded-left"
                                    placeholder="Password"
                                    id="password"
                                    name="password"
                                    required
                                />
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label
                                        class="checkbox-wrap checkbox-primary"
                                    >
                                        Remember Me
                                        <input type="checkbox" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/signup/">Sign up</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button
                                    type="submit"
                                    class="btn btn-primary rounded submit p-3 px-5"
                                >
                                    Get Started
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script src="{% static 'single_pages/login/js/jquery.min.js' %}"></script>
        <script src="{% static 'single_pages/login/js/popper.js' %}"></script>
        <script src="{% static 'single_pages/login/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'single_pages/login/js/main.js' %}"></script>
    </body>
</html>
