<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>웹페이지 예시</title>
        <link rel="stylesheet" href="{% static 'single_pages/style.css' %}" media="screen">
    </head>
    <body>
        <header id="header">
            <!-- 헤더 -->
            <img
                src="{% static 'single_pages/image/duksung_symbol.png' %}"
                alt="로고"
            />
            <span>DS StackOverFlow</span>
        </header>
        <div id="content-area">
            <nav id="navbar">
                <!-- 네비게이션 바 -->
                <a href="/" class="nav-link">Home</a>
                <a href="#" class="nav-link">질문 탭</a>
                <a href="/MyPage/" class="nav-link"
                    >My Page</a
                >
            </nav>
            <main id="main-content">
                <!-- 메인 컨텐츠 -->
                <h1>My Page</h1>
                <p>여기에 메인 컨텐츠의 본문이 들어갑니다.</p>
            </main>
            <aside id="sidebar">
                <!-- 사이드바 -->
                <a href="#" class="sidebar-link">사이드바 링크 1</a>
                <a href="#" class="sidebar-link">사이드바 링크 2</a>
            </aside>
        </div>
        <footer id="footer">
            <!-- 푸터 -->
        </footer>
    </body>
</html>
